.slider,
.btns {
  margin-left: 100px;
}

.slider {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  position: relative;
  &__item {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    &-green {
      background: green;
    }
    &-blue {
      background: blue;
    }
    &-yellow {
      background: yellow;
    }
    &-red {
      background: red;
    }
    &-active {
      opacity: 1;
      transition: opacity 0.5s;
      visibility: visible;
    }
    &-onload {
      opacity: 1;
      visibility: visible;
    }
  }
}

.btns {
  margin-top: 15px;
}

